<!-- views/game.ejs -->
<html>
    <meta charset="utf-8" />

    <head>
        <link rel="stylesheet" href="/game.css" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
        <script>
            window.addEventListener('load', function () {
                var socket = io();

                function generateRandomUuid() {
                    return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
                    );
                }

                socket.on("connect", () => {
                    const CLIENT_UUID = 'uuid';
                    let clientUuid = localStorage.getItem(CLIENT_UUID);
                    if (!clientUuid) {
                        clientUuid = generateRandomUuid();
                        localStorage.setItem(CLIENT_UUID, clientUuid);
                    }

                    socket.emit('connected', clientUuid);
                });
        
                // making move
                function addListenersToFieldsButtons() {
                    var fieldGroup = document.getElementsByClassName('board__field');
                    for (var i = 0; i < fieldGroup.length; i++) {
                        fieldGroup[i].addEventListener('click', function (event) {
                            var fieldId = this.getAttribute("id");
                            socket.emit('make move', fieldId);
                        });
                    }
                };
                addListenersToFieldsButtons();

                socket.on('move made', function(fieldId, player, game) {
                    console.log(fieldId, player);
                    const field = document.getElementById(fieldId);

                    field.innerHTML += player;
                    field.classList.add('board__field--' + (player === 'X' ? 'red' : 'blue'));

                    const possibleBoards = game.possibleBoards;
                    const turn = game.turn;
                    for (let i = 0; i < possibleBoards.length; i++) {
                        const smallBoard = document.getElementById(i);
                        smallBoard.classList.remove("board__smallBoard--red");
                        smallBoard.classList.remove("board__smallBoard--blue");
                        if (possibleBoards[i]) {
                            smallBoard.classList.add('board__smallBoard--' + (turn === 'X' ? 'red' : 'blue'));  
                        }
                    }
                });

            });
        </script>
    </head>

    <body>
        <div class="board">
            <% for (let i = 0; i < 9; i++) { %>
            <div id="<%=i%>" class="board__smallBoard <%= locals.game.possibleBoards[i] ? (locals.game.turn === 'X' ? 'board__smallBoard--red' : 'board__smallBoard--blue') : '' %>">
                <% for (let j = 0; j < 9; j++) { %>
                    <div id="<%=i%><%=j%>" class="board__field <%= locals.game.smallBoards[i][j] ? (locals.game.smallBoards[i][j] === 'X' ? 'board__field--red' : 'board__field--blue') : ''%>"><%= locals.game.smallBoards[i][j] %></div>
                <% } %>
            </div>
            <% } %>
        </div>
    </body>
</html>