<!-- views/game.ejs -->
<html>
    <meta charset="utf-8" />

    <head>
        <link rel="stylesheet" href="/game.css" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
        <script>
            window.addEventListener('load', function () {
                var socket = io();
        
                // making move
                function addListenersToFieldsButtons() {
                    var fieldGroup = document.getElementsByClassName('board__field');
                    for (var i = 0; i < fieldGroup.length; i++) {
                        fieldGroup[i].addEventListener('click', function (event) {
                            var fieldId = this.getAttribute('id');
                            socket.emit('make move', fieldId);
                        });
                    }
                };
                addListenersToFieldsButtons();

                socket.on('move made', function(fieldId, player, game, isYourTurn) {
                    const field = document.getElementById(fieldId);

                    field.innerHTML += player;
                    field.classList.add('board__field--' + (player === 'X' ? 'red' : 'blue'));

                    const possibleBoards = game.possibleBoards;
                    const turn = game.turn;
                    for (let i = 0; i < possibleBoards.length; i++) {
                        const smallBoard = document.getElementById(i);
                        smallBoard.classList.remove("board__smallBoard--red");
                        smallBoard.classList.remove("board__smallBoard--blue");
                        if (possibleBoards[i]) {
                            smallBoard.classList.add('board__smallBoard--' + (turn === 'X' ? 'red' : 'blue'));  
                        }
                    }

                    const turnElement = document.getElementById('gameState__turn');
                    turnElement.innerHTML = isYourTurn ? "It's your turn to make a move" : "";
                });


                // leaving room
                const leaveRoomButton = document.getElementById('leaveRoomButton');
                leaveRoomButton.addEventListener('click', function (event) {
                    socket.emit('leave room');
                });

                socket.on('player left room', function(players) {
                    var playersElement = document.getElementById("players");
                    playersElement.innerHTML = players[0] + ' vs ' + players[1];
                });

                socket.on('player joined room', function(players) {
                    var playersElement = document.getElementById("players");
                    playersElement.innerHTML = players[0] + ' vs ' + players[1];
                });

                // resetting game
                const resetGameButton = document.getElementById('resetGameButton');
                resetGameButton.addEventListener('click', function (event) {
                    socket.emit('reset game');
                });

                socket.on('game reset', function(game, isYourTurn) {
                    const boardElement = document.getElementById('board');
                    boardElement.innerHTML = '';
                    for (let i = 0; i < 9; i++) {
                        var isBoardPossible = game.possibleBoards[i];
                        var turn = game.turn;
                        var boardClass = isBoardPossible ? ('board__smallBoard--' + (turn === 'X' ? 'red' : 'blue')) : '';
                        boardElement.innerHTML += '<div id="' + i + '" class="board__smallBoard ' + boardClass + '">';
                        let smallBoardElement = document.getElementById(i);
                        for (let j = 0; j < 9; j++) {
                            var field = game.smallBoards[i][j];
                            var fieldColor = field ? ('board__field--' + (field === 'X' ? 'red' : 'blue')) : '';
                            smallBoardElement.innerHTML += '<div id="' + i.toString() + j.toString() + '" class="board__field ' + fieldColor + '"> <%= field %> </div>';
                        }
                    }
                    const turnElement = document.getElementById('gameState__turn');
                    console.log(isYourTurn);
                    turnElement.innerHTML = isYourTurn ? "It's your turn to make a move" : "";
                    addListenersToFieldsButtons();
                });

                // redirecting
                socket.on('redirect', function(destination) {
                    window.location.href = destination;
                });
            });
        </script>
    </head>

    <body>
        <div class="gameState">
            <div id="players" class="gameState__players"><%= locals.players[0] %> vs <%= locals.players[1] %></div>
            <div id="board" class="board">
                <% for (let i = 0; i < 9; i++) { %>
                    <% var isBoardPossible = locals.game.possibleBoards[i]; %>
                    <% var turn = locals.game.turn %>
                    <% var boardClass = isBoardPossible ? ('board__smallBoard--' + (turn === 'X' ? 'red' : 'blue')) : ''; %>
                    <div id="<%=i%>" class="board__smallBoard <%= boardClass %>">
                    <% for (let j = 0; j < 9; j++) { %>
                        <% var field = game.smallBoards[i][j]; %>
                        <% var fieldColor = field ? ('board__field--' + (field === 'X' ? 'red' : 'blue')) : ''; %>
                        <div id="<%=i%><%=j%>" class="board__field <%= fieldColor %>"> <%= field %> </div>
                    <% } %>
                </div>
                <% } %>
            </div>
            <div id="gameState__turn" class="gameState__turn"> <%= locals.isYourTurn ? "It's your turn to make a move" : "" %> </div>
            <div class="gameState__winner"><%= locals.game.winner %></div>
            <button id="resetGameButton">Reset game</button>
            <button id="leaveRoomButton">Leave room</button>
        </div>
    </body>
</html>