<!-- views/rooms.ejs -->
<html>
<meta charset="utf-8" />
<script src="/socket.io/socket.io.js"></script>
<script>
    window.addEventListener('load', function () {
        var socket = io();

        // joining room
        function addListenersToJoinRoomButtons() {
            var btnJoinRoomGroup = document.getElementsByClassName('btnJoinRoom');
            for (var i = 0; i < btnJoinRoomGroup.length; i++) {
                btnJoinRoomGroup[i].addEventListener('click', function (event) {
                    var roomId = this.getAttribute("data-roomid");
                    socket.emit('join room', roomId);
                });
            }
        };
        addListenersToJoinRoomButtons();        

        // creating room
        var btnCreateRoom = document.getElementById('btnCreateRoom');
        btnCreateRoom.addEventListener('click', function () {
            socket.emit('create room');
        });

        socket.on('room created', function(id, room) {
            var roomsList = document.getElementById('roomsList');
            roomsList.innerHTML += '<li id="roomList__room' + id + '">' +
                                        '<span>Room number: ' + id + '</span>\n' +
                                        '<span>Players: ' + room.players.filter((name) => name !== null).length + ' / 2</span>' +
                                        '<button data-roomid="' + id + '" class="btnJoinRoom">Join room</button>' +
                                    '</li>';
            addListenersToJoinRoomButtons();
        });

        // changing join button state
        socket.on('room state changed', function(id, room, tab) {
            var roomElement = document.getElementById('roomList__room' + id);
            console.log(roomElement.childNodes);
            var button = roomElement.childNodes[5];
            button.disabled = room.players.length > 1;
            var text = roomElement.childNodes[3];
            text.innerHTML = 'Players: ' + room.players.filter(name => name !== null).length + ' / 2'
        });

        // deleting room
        socket.on('room deleted', function(id) {
            const room = document.getElementById('roomList__room' + id);
            room.parentNode.removeChild(room);
        });

        // btnChangeUsername
        var btnChangeUsername = document.getElementById('btnChangeUsername');
        btnChangeUsername.addEventListener('click', function () {
            window.location.href = '/';
        })

        socket.on('redirect', function(destination) {
            window.location.href = destination;
        });
    });
</script>

<head>
</head>

<body>
    <div>Hello <%= username %>!</div>
    <ul id="roomsList">
        <% for (let id in rooms) { %>
            <li id="roomList__room<%= id %>">
                <span>Room number: <%- id %></span>
                <span>Players: <%- rooms[id].players.filter(name => name !== null).length %> / 2</span>
                <button data-roomid="<%= id %>" <%- rooms[id].players.filter(name => name !== null).length > 1 ? 'disabled' : '' %> class="btnJoinRoom">Join room</button>
            </li>
        <% } %>
    </ul>
    <button id="btnCreateRoom">Create room</button>
    <button id="btnChangeUsername" class>Change username</button>
</body>

</html>